<html>
    <body style="padding: 20px; background-color: white; min-height: 500px; ">
        <div style="padding-top: 20px; background-color: #f3f3f3; border-radius: 25px;">
            <div style="text-align: center;">
                <img src="https://firebasestorage.googleapis.com/v0/b/strimo-9e1a1.appspot.com/o/email-images%2Fstrimo%20logo.png?alt=media&token=950fd0b4-80d9-49a5-901e-daf47d5ede20" alt="" width="300px"/>
            </div>
            <hr>
            <div style="padding: 30px;">
                <h1 style="margin-bottom: 10px;">Hola!</h1>
                <h3>Haz click en el siguiente boton para verificar tu cuenta!</h3>
                <a href="<%=data%>"><button style="color: white;border: transparent;background-color: #3e27b5;border-radius: 5px;min-height: 37px;">
                    Verificar tu Email
                </button></a>
            </div>
            <div style="background-color: #81defe; display: flex; padding: 15px; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; justify-content:center; align-items: center; text-align: center;">
                
                    <img width="40px" src="https://firebasestorage.googleapis.com/v0/b/strimo-9e1a1.appspot.com/o/email-images%2Ffacebook-circle.png?alt=media&token=b89bd395-1d5f-4545-8478-1f9b7c34442d" alt=""/>
                    <img width="40px" src="https://firebasestorage.googleapis.com/v0/b/strimo-9e1a1.appspot.com/o/email-images%2Ftwitter-circle.png?alt=media&token=588beec4-4b0a-4e7e-b06d-6187cd8c4abc" alt=""/>
                    <img width="40px" src="https://firebasestorage.googleapis.com/v0/b/strimo-9e1a1.appspot.com/o/email-images%2Finstagram-circle.png?alt=media&token=47b2da3e-81ad-4e0f-b44b-46546aa08f6b" alt=""/>
                    <img width="40px" src="https://firebasestorage.googleapis.com/v0/b/strimo-9e1a1.appspot.com/o/email-images%2Fyoutube-circle.png?alt=media&token=d1e0c3b0-1f73-4625-8845-40e6d0f88bb9" alt=""/>
                
            </div>
            </div>
    </body>
</html>